#imgcap {
    padding-bottom: 2%;
    padding-top: 1%;
    border-bottom: 1px solid #999999;
}
.image_text {
    top: 57%;
    transform: translateY(-50%);
    font-family: 'Kanit', sans-serif;
}
#top_pic {
    display: block;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    object-position: 100% 0%;
}
#spacecraft
{
  background:rgb(238, 238, 238);
  color:rgb(6, 17, 60);
  border-radius:50px;
  padding-top:1%;
  margin-top:0%;
}
.display-4
{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin-bottom:0.5%;
}
.display-6
{
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: rgb(255, 140, 50);
}

#launchDescrip a
{
  background-color: #FF8C32;
  font-weight: bolder;
  font-size: 30px;
}
#launchDescrip a:hover
{
  background: white;
  color:#06113C;
}
#launches_block1 {
    height: 350px;
    margin: 2.5% 0% 5% 0%;
}
#launches_block2 {
    height: 350px;
    margin: 5% 0% 2.5% 0%;
}
#border {
    border-right: 2px solid #999999;
}
.launch_tour_explanation {
    width: 100%;
    text-align: left;
    margin: auto;
}
#launch_tour1_explanation p{
  font-size: 16px;
}
#launch_tour2_explanation p{
  font-size: 16px;
}
#launch_tour3_explanation p{
  font-size: 16px;
}
#launch_tour1_explanation {
    display: none;
}
#launch_tour2_explanation {
    display: none;
}
#launch_tour3_explanation {
    display: none;
}
.display-5{
  font-family: 'Kanit', sans-serif;
}
@media screen and (max-width:480px) {
  #launchDescrip a
  {
    height:auto;
    padding:10% 3%;
    font-size: 14px;
  }
  #launchDescrip{
    padding-left: 5%;
    padding-right: 5%;
  }
  .Odyssey_rounded_image{
    width:100px;
    height: 100px;
  }
  h2
  {
    font-size:14px;
  }
  #spacecraft{
    padding:3% 5%;
  }
  #lcont{
    margin-top:5%;
  }
  #top_pic
  {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 0%;
  }
  #launch_tour1_explanation{
    padding-left:5%;
    padding-right:5%;
  }
  #launch_tour1_explanation .threeFourthGrid{
    grid-row-gap: 4%;
  }
  .display-5{
    font-size: 30px;
    margin-bottom:2%;
  }
  #launch_tour2_explanation{
    padding-left:5%;
    padding-right:5%;
  }
  #launch_tour2_explanation .threeFourthGrid{
    grid-row-gap: 4%;
  }

  #launch_tour3_explanation{
    padding-left:5%;
    padding-right:5%;
  }
  #launch_tour3_explanation .threeFourthGrid{
    grid-row-gap: 4%;
  }
}
