fsttatbody {
    overflow-y: scroll;
    min-height: 100%;
}
#top_pic {
    display: block;
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.image_text {
    top: 57%;
    transform: translateY(-50%);
    font-weight: bolder;
}

#start_image {
    position: relative;
}
#overview {
    min-height: 300px;
    border-bottom: 2px solid #999999;
    margin-top: 3%;
}
#cost {
    min-height: auto;
    border-bottom: 2px solid #999999;
}
#cost .display-5{
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1.2px;
  margin-bottom:0%;
}
#dates_and_schedule {
    min-height: 480px;
    margin-top:2%;
    background: rgb(238, 238, 238);
    color:rgb(6, 17, 60);
    border-radius:50px;
}
#tour_stats {
    min-height: 250px;
    border-bottom: 2px solid #999999;
}
#tour_register {
    min-height: 450px;
}
#stats {
    height: 134px;
}
#stat {
    width: 33.33%;
}
#stat:hover{
  background:#EEEEEE;
  color:rgb(6, 17, 60);
}
.sub_navbar_background {
    background-color: #FF8C32;
}
.first_sticky {
    position: sticky;
    top: 0px;
    width: 100%;
    transition: 1s ease position;
}
.second_sticky {
    position: sticky;
    top: 60px;
    width: 100%;
    transition: 1s ease position;
}
#overview_content {
    margin:auto 5%;
}
.tour_date {
    height: 330px;
    width: 33.33%;
    float: left;
}
#border {
    border-right: 2px solid #999999;
}
.link_disabled {
    pointer-events: none;
}
.display-6, .display-5
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 35px;
}
.timing{
  background:rgb(255, 140, 50);
  border-radius: 50px;
  padding:5px;
  color:white;
}
.terms{
  font-weight: bolder;
  font-family:'Kanit', sans-serif;
}
.tour_date .threeFourthGrid{
  grid-column-gap: 0%;
  padding-right:8%;
}
h4{
  color: #FF8C32;
  font-family: 'Kanit', sans-serif;
  line-height: 32px;
}
h5{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}
#dates_and_scheduleMobile{
  display: none;
}
@media screen and (max-width:480px) {
  .nav-pills, .sub_navbar_background{
    display:none;
  }
  .display-5{
    margin-bottom:0%;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
  }
  .display-6{
    margin-bottom:0%;
    font-size:25px;
  }
  #top_pic {
      display: block;
      width: 100%;
      height: 55vh;
      object-fit: cover;
  }
  #overview{
    margin-bottom:0%;
    max-height: 360px;
  }
  #overview_content {
      margin:auto 5%;
      margin-bottom:5%;
  }
  #cost {
      min-height: 90px;
      border-bottom: 2px solid #999999;
      margin-bottom:5%;
      margin-bottom:5%;
  }
  #stats {
      height: 92px;
  }
  #stat{
    border: 1px solid black;
  }
  #tour_stats {
      min-height: 200px;
  }
  #dates_and_schedule{
    display:none;
  }
  #dates_and_scheduleMobile{
    display:block;
    background:#EEEEEE;
    margin:auto;
    color: #06113C;
    border-radius: 50px;
    padding:5%;
  }
  .tour_date{
    width:auto;
    height:auto;
  }
  .autoThirdGrid .threeFourthGrid{
    grid-template-columns: 25% 75%;
    margin: auto 0%
  }
  #tour_register li{
    font-size:12px;
    font-weight: 300;
  }
  .terms{
    font-size:12px;
  }
  .image_text {
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
  }
}
